<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib"
          publicKeyToken="1b03e6acf1164f73" />
        <bindingRedirect oldVersion="0.83.1.0" newVersion="0.85.2.329" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>