<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="sophiasmth" />
    <add key="PassWord" value="zwh19850619" />
    <add key="FromStation" value="武汉" />
    <add key="ToStation" value="深圳北" />
    <add key="TrainCode" value="G1004" />
    <add key="StartTime" value="630822816000000000" />
    <add key="SeatType" value="4" />
    <add key="TicketInfo" value="邹卫华|1|429006198506192427|1|13760760670" />
    <add key="Proxy" value="|||" />
    <add key="UseDefaultProxy" value="" />
  </appSettings>
</configuration>